<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" color="light">
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Insira seu nome..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">CPF</ion-label>
    <ion-input placeholder="Insira seu CPF..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">Data de Nascimento</ion-label>
    <ion-input placeholder="Insira sua data de nascimento..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input placeholder="Insira seu telefone..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">E-mail</ion-label>
    <ion-input placeholder="Insira seu e-mail..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" placeholder="Insira sua senha..." clearInput></ion-input>
  </ion-item>

  <ion-item lines="none" color="light">
    <ion-label position="floating">Confirmar Senha</ion-label>
    <ion-input type="password" placeholder="Confirme sua senha..."></ion-input>
  </ion-item>

  <ion-button expand="block" routerLink="/home">Voltar</ion-button>
</ion-content>
